extends base.pug
block CSS
    link(rel='stylesheet' href='./css/error404.css')
block JS
    script(src='./js/error500.js' defer='')
block content
    .body
        p.main-tag 500
        p.second-tag Internal Server Error
        .go-back-btn
            a.btn(href='/' role='button') BACK TO HOME